<%- include("Header") -%>
<link rel="stylesheet" href="/css/styles.css">
<form action="/" method="post">
    <div class="blogs">
        <% for(var i=0 ; i<posts.length ; i++){%>
            <div class="blogContainer">
                <p class="postHeaders"><%= posts[i].header %></p>
                <hr width="100%">

                <p class="postContent homePageText"><%= posts[i].text%></p><a class="readMore" href="/posts/<%= posts[i].header.toLowerCase().replace( /[^a-zA-Z0-9 ]/g,"" ).
                replace(/ /g , "-") %>">Read more</a>
                <hr width="100%">
            </div>
        
            <%}%>
    </div>

</form>



 
  
  

<%- include("Footer") -%>